/* Hero */

.hero {
	background-color: #2f303a;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	letter-spacing: 0.06em;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero-title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	text-transform: uppercase;
	color: var(--text-color-light);
}
.hero .btn {
	padding: 10px 32px;

	font-weight: 700;
	line-height: 1.88;
	color: var(--text-color-light);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero .btn:hover,
.hero .btn:focus {
	background-color: var(--btn-hover-color);
}
