.footer__address {
	margin-right: 70px;
	min-width: 231px;
}

.address {
	font-style: normal;
	line-height: 1.71;
}

.address__list {
	@extend %list;
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	@extend %link;
	color: var(--text-color-light);
	transition: color var(--time-duration) var(--time-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
		outline: transparent;
	}
}

.address__link--transparent {
	color: rgba(255, 255, 255, 0.6);
}
