.backdrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity var(--time-duration) var(--time-function);

	&.is-hidden {
		opacity: 0;
	}
}
