.benefits {
	&__list {
		@extend %list;
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			margin: calc(-1 * var(--card-set-gap));
		}
	}

	&__item {
		@media screen and (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@include tablet {
			flex-basis: calc((100% - 4 * var(--card-set-gap)) / 2);
			margin: var(--card-set-gap);
		}
	}

	&__decor {
		display: flex;
		background: #f5f4fa;
		border-radius: 4px;
		padding-top: 25px;
		padding-bottom: 25px;
		margin-bottom: 30px;
		justify-content: center;
	}

	&__title {
		margin-bottom: 10px;
		@include font(700, 14px, 1.14, null);
		text-transform: uppercase;
		color: var(--title-text-color);
	}

	&__text {
		line-height: 1.71;
	}
}
