.btn {
	display: block;
	background-color: transparent;
	padding: 0;
	border: 0;
	font-family: inherit;
	cursor: pointer;
	color: var(--title-text-color);
	transition: color var(--time-duration) var(--time-function),
		background-color var(--time-duration) var(--time-function), box-shadow var(--time-duration) var(--time-function);
}
