.contact {
	@extend %list;
	display: flex;
	margin-left: auto;
}

.contact__item:not(:last-child) {
	margin-right: 50px;
}

.contact__link {
	@extend %link;
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	align-items: center;
	justify-content: center;
	@include font(500, null, 1.14, null);
	color: var(--primary-text-color);

	transition: color var(--time-duration) var(--time-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
		outline: transparent;
	}
}

.contact__icon {
	margin-right: 10px;
	fill: currentColor;
}
