.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
	@media screen and (max-width: 1199px) {
		text-align: center;
	}

	@include desktop {
		.container {
			display: flex;
			align-items: baseline;
		}
	}
}

.footer__contacts {
	@include tablet {
		display: flex;
		align-items: baseline;
		justify-content: space-around;
	}
}
