.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;

	// .container {
	// 	display: flex;
	// 	align-items: baseline;
	// }
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
	.footer__tablet {
		display: flex;
		align-items: baseline;
		justify-content: space-around;
	}
}
