.footer__joinus {
	// margin-right: 93px;
	margin-bottom: 60px;
}

.joinus__title {
	margin-bottom: 20px;
	@include font(null, inherit, 1.14, null);
	text-transform: uppercase;
	color: var(--text-color-light);
}

.joinus__list {
	@extend %list;
	display: flex;
	justify-content: center;
}

.joinus__item:not(:last-child) {
	margin-right: 10px;
}

.joinus__link {
	@extend %link;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--icon-secondary-color);
	transition: background-color var(--time-duration) var(--time-function);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		outline: transparent;
	}
}

.joinus__icon {
	fill: currentColor;
}
