.logo {
	@extend %link;
	font-family: $fontSecondary;
	color: var(--accent-color);
	@include font(700, 24px, 1.17, null);
	display: block;

	// @include font(700, 26px, 1.2, null);
}

.header__logo {
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;

	&--accent {
		color: var(--title-text-color);
	}

	@include tablet {
		margin-right: 88px;
	}
}

.footer__logo {
	margin-bottom: 20px;
	// width: 100%;
	&--accent {
		color: var(--text-color-light);
	}
}
