.logo {
	@extend %link;
	font-family: $fontSecondary;
	color: var(--accent-color);
	@include font(700, 24px, 1.17, null);
	display: block;
	@include desktop {
		@include font(700, 26px, 1.2, null);
	}
}

.header__logo {
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;

	&--accent {
		color: var(--title-text-color);
		transition: color var(--time-duration) var(--time-function);
	}

	@include tablet {
		margin-right: 88px;
	}
	@include desktop {
		margin-right: 93px;
	}

	transition: color var(--time-duration) var(--time-function);

	&:hover,
	&:focus {
		color: var(--title-text-color);
	}

	&:hover &--accent,
	&:focus &--accent {
		color: var(--accent-color);
	}
}

.footer__logo {
	margin-bottom: 20px;
	// width: 100%;
	&--accent {
		color: var(--text-color-light);
	}
	&:hover,
	&:focus {
		color: var(--text-color-light);
	}

	&:hover &--accent,
	&:focus &--accent {
		color: var(--accent-color);
	}
}
