.logo {
	@extend %link;
	display: block;
	font-family: $fontSecondary;
	@include font(700, 26px, 1.2, null);
	color: var(--accent-color);
}

.header__logo {
	margin-right: 93px;

	&--accent {
		color: var(--title-text-color);
	}
}

.footer__logo {
	margin-bottom: 20px;
	width: 100%;
	&--accent {
		color: var(--text-color-light);
	}
}
