.mob-menu__open {
	margin-left: auto;

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.menu-open__icon {
	fill: currentColor;
}

.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	background-color: var(--primary-bcg-color);
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 48px 40px;
}

.mob-menu__close {
	position: absolute;
	top: 10px;
	right: 15px;
	width: 40px;
	height: 40px;

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.menu-close__icon {
	fill: currentColor;
}

.menu-nav {
	@extend %list;
}

.menu-nav__item {
	@include font(500, 40px, 1.18, 0.02em);
	margin-bottom: 32px;
}

.menu-nav__link {
	@extend %link;
	color: var(--title-text-color);
	transition: color var(--time-duration) var(--time-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	&--current {
		color: var(--accent-color);
	}
}

.menu-contact {
	@extend %list;
	margin-bottom: 64px;
}

.menu-contact__item:not(:last-child) {
	margin-bottom: 32px;
}

.menu-contact__link {
	@extend %link;
}

.menu-contact__link--tel {
	@include font(500, 34px, 1.18, 0.02em);
	color: var(--accent-color);

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.menu-contact__link--mail {
	@include font(500, 24px, 1.17, 0.02em);
	color: var(--primary-text-color);

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.menu-soc {
	@extend %list;
	display: flex;
	flex-wrap: wrap;
}

.menu-soc__item {
	&:not(:last-child) {
		border-right: 1px solid rgba(33, 33, 33, 0.2);
		padding-right: 10px;
		margin-right: 10px;
	}
}

.menu-soc__link {
	@extend %link;
	@include font(500, 18px, 1.22, 0.02em);
	color: var(--accent-color);
	transition: color var(--time-duration) var(--time-function),
		background-color var(--time-duration) var(--time-function);

	&:hover,
	&:focus {
		color: var(--text-color-light);
		background-color: var(--accent-color);
	}
}
