.nav {
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	@extend %list;
}

.nav__item {
	position: relative;

	&:not(:last-child) {
		margin-right: 50px;
	}
}

.nav__link {
	@extend %link;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	@include font(500, null, 1.14, 0.02em);
	color: var(--title-text-color);
	transition: color var(--time-duration) var(--time-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
		outline: transparent;
	}
}

.nav__link--current {
	color: var(--accent-color);

	&::after {
		position: absolute;
		bottom: -1px;
		left: 0;

		content: "";
		width: 100%;
		height: 4px;
		background-color: var(--accent-color);
		border-radius: 2px;
	}
}
