.team {
	background-color: #f5f4fa;

	&__list {
		@extend %list;
		display: flex;
		margin-top: calc(-1 * var(--card-set-gap));
		margin-left: calc(-1 * var(--card-set-gap));
	}

	&__item {
		background-color: var(--card-bcg-color);
		text-align: center;
		box-shadow: var(--card-shadow);
		border-radius: 0px 0px 4px 4px;
		overflow: hidden;

		flex-basis: calc(100% / 4 - var(--card-set-gap));
		margin-left: var(--card-set-gap);
		margin-top: var(--card-set-gap);
	}

	&__content {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__name {
		margin-bottom: 10px;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
		color: var(--title-text-color);
	}

	&__position {
		font-size: 16px;
		line-height: 1.19;
		margin-bottom: 16px;
	}
}
