.team {
	background-color: #f5f4fa;

	&__list {
		@extend %list;

		@include tablet {
			display: flex;
			flex-wrap: wrap;
			margin: calc(-1 * var(--card-set-gap));
		}
	}

	&__item {
		background-color: var(--card-bcg-color);
		text-align: center;
		box-shadow: var(--card-shadow);
		border-radius: 0px 0px 4px 4px;
		overflow: hidden;
		@media screen and (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@include tablet {
			flex-basis: calc((100% - 4 * var(--card-set-gap)) / 2);
			margin: var(--card-set-gap);
		}
	}

	&__content {
		padding-top: 30px;
		padding-bottom: 24px;
	}

	&__name {
		margin-bottom: 10px;
		@include font(500, 16px, 1.19, null);
		color: var(--title-text-color);
	}

	&__position {
		@include font(null, 16px, 1.19, null);
		margin-bottom: 16px;
	}
}
