@mixin font($fw, $fs, $lh, $ls) {
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	letter-spacing: $ls;
}

@mixin mobile {
	@media screen and (min-width: $mobile) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop) {
		@content;
	}
}
